@(list:List[Project])

@main("Projekte"){
    <h1>Projekte</h1>
    @if(list.size() > 0) {
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Beschreibung</td>
                            <td>Auftraggeber</td>
                            <td>Projektleiter</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for(project <- list){
                            <tr>
                                <td>@project.getId()</td>
                                <td>@project.getName()</td>
                                <td>@project.getDescription()</td>
                                <td>@project.getBuyer().getFullName()</td>
                                <td>@project.getProjectLeader().getName()</td>
                                <td>
                                    <a href="@routes.FormController.editUser(project.getId())" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="@routes.ProjectController.delete(project.getId())" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>



                                }
                    }

    <a href="@routes.FormController.addProject()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Neues Projekt anlegen</a>
}