@()

<div class="nav-item">
    <a href="@routes.HomeController.index()"><i class="fa fa-building" aria-hidden="true"></i> Home</a>
</div>
<div class="nav-item">
    <a href="@routes.UserController.list()"><i class="fa fa-group" aria-hidden="true"></i> Users</a>
</div>
<div class="nav-item">
    <a href="@routes.CustomerController.list()"><i class="fa fa-group" aria-hidden="true"></i> Customers</a>
</div>
<div class="nav-item">
    <a href="@routes.ProjectController.list()"><i class="fa fa-folder" aria-hidden="true"></i> Projekte</a>
</div>

